.wrap            { margin:30px auto 10px; text-align:center }
.container       { width:511px; height:382px; border:5px solid #ccc }
p                { font: 10px/1.0em 'Helvetica',sans-serif; margin:20px }